<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for field in form %}
        <div>
            {{field.label}} : {{ field }}
            <span style="color : red;">{{ field.errors.0 }}</span>
        </div>
        {% endfor %}
        <button type="submit" name="login" value="login">Login</button>
        <button type="submit" name="signup" value="signup">Sign up</button>
        <button type="submit" name="forgot_password" value="forgot_password">Forget password</button>
    </form>
</body>

</html>